/* Copyright (C) 2023 Gregory Nick Larkin, Stephan Kreutzer
 *
 * This file is part of Interactive Data Visualization of Dr. John Snow's
 * Map of the 1854 London Cholera Epidemic.
 *
 * The Interactive Data Visualization is free software: you can redistribute it and/or modify it under
 * the terms of the GNU Affero General Public License version 3 or any later
 * version of the license, as published by the Free Software Foundation.
 *
 * The Interactive Data Visualization is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU Affero General Public License 3 for more details.
 *
 * You should have received a copy of the GNU Affero General Public License 3
 * along with the Interactive Data Visualization. If not, see <http://www.gnu.org/licenses/>.
 */

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#panelLeft {
float: left;
position: relative;
overflow: auto;
}

#panelRight {
float: left;
position: relative;
/*height: calc(500px + (2 * 1em) + (2 * 0.5em));*/
overflow: auto;
}

#mapDiv {
padding: 1em;
margin: 0.5em;
border: 1px solid #D0D0D0;
}

#legendDiv {
padding: 1em;
margin: 0.5em;
border: 1px solid #D0D0D0;
}

#legendGender {
float: left;
position: relative;
display: block;
margin: 0.25em;
padding-right: 0.5em;
}

#legendMapSymbols {
float: left;
position: relative;
display: block;
margin: 0.25em;
padding-left: 0.5em;
}

.clearFloat {
clear: left;
}

#timelineDiv {
padding: 1em;
margin: 0.5em;
border: 1px solid #D0D0D0;
}

#genderDistributionPieDiv {
padding: 1em;
margin: 0.5em;
border: 1px solid #D0D0D0;
}

#ageGroupDiv {
padding: 1em;
margin: 0.5em;
border: 1px solid #D0D0D0;
}

/*
	table, th, td {
	  border: 0px solid black;
	}
*/

tr {
border: 1px solid black;
}

/* td {
padding = 0;
} */
